<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="site-header-inner">
      <div class="avatar-frame">
        <a href="{{ site.baseurl }}/" class="avatar-link">
          <img src="/assets/img/avatar_darknico.png" alt="Avatar Darknico" class="avatar-image">
        </a>
      </div>
      <div class="header-copy">
        <h1 class="site-title">{{ site.title | escape }}</h1>
        <h3 class="site-description">{{ t.header.description | escape }}</h3>
      </div>
    </div>
  </div>
</header>
